* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: #ECF0F1;
    font-family: "Noto Sans", sans-serif;

}

#root {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

h1 {
    margin-top: 3rem;
}

.btns-container {
    display: flex;
    gap: 4rem;
}

.genre-btn {
    background: #9B59B6;
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 12px 24px;
}

.genre-btn:hover {
    background: #8E44AD;
    transform: scale(1.2);
}

.song-container {
    width: 100%;
    display: grid;
    /* margin-top: 2rem; */
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 2rem;
    padding: 3rem 2rem;
    background: #2C3E50;
}

.song-card {
    /* margin-top: 12px; */
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    color: #333333;
    background: #fafafa;

    .genre {
        margin-top: 1rem;
        padding: 12px 24px;
        border-radius: 16px;
        border: 1px solid #333333;
    }

    .class-image {
        border: 1.1px solid #000000;
        width: 208px;
        height: 150px;
        /* margin-right: 24px; */
    }
}

.song-card:hover {
    background: #000000;
    color: #ffffff;
    transition: background 0.10s;

    .genre {
        border: 1px solid #BDC3C7;
    }

    .class-image {
        border: 1.1px solid #BDC3C7;
        width: 208px;
        height: 150px;
    }
}

footer {
    background: #BDC3C7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#foot-info {
    padding: 8px;
    max-height: 100px;
    color: #000000;
}